@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1em;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  padding: 20px;
  background-color: #fff;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-footer {
  margin: 20px;
}

.login-header h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.login-header p,
.login-footer p {
  font-size: 0.75em;
  flex-wrap: wrap;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

form label {
  font-weight: bold;
  font-size: 0.75em;
}

form input {
  padding: 10px 5px;
  outline: none;
  border: #808080 1px solid;
  border-radius: 4px;
}

form input::placeholder {
  color: #808080;
  /* font-size: 0.75em; */
}

button {
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 4px;
  outline: none;
  color: #808080;
}

@media (width<500px) {
  .login-wrapper {
    min-width: 100%;
  }
}
